/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 1280px;
    margin: 20px auto;
}

header{
    background-color: #E57AE3;
    height: 100px;
}

.big-ph{
    background-color: #E1D57A;
    min-height: 400px;
    margin-top: 20px;
}